<head th:replace="header2.html"></head>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row center-form">
        <!-- Main Container -->
        <div class="form-container w3-card w3-round w3-white">
            <div class="w3-container">
                <h4 class="w3-center"><strong>All Suggestions</strong></h4>
                <div th:each="us : ${allUser}" class="w3-center">
		          <p th:text="${us.firstName} + ' ' + ${us.lastName}"><strong></strong></p>
		          <a th:href="@{/user/{username}(username=${us.username})}">
		          	<img th:src="@{${us.profileImage.imageUrl}}" alt="User" class="friend-suggestion-img">
		          </a>
		          <p th:text="${us.username}"></p>
		          <a th:href="@{/friend/create/{username}(username=${us.username})}"><button class="w3-button w3-block w3-theme-d1">Send Request</button></a>
		          <hr>
		      	</div>
            </div>
        </div>
    </div>
    <!-- End Form Container -->
</div>
<br>
<head th:replace="footer2.html"></head>
