    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script>
    	// Password button toggler
    	let btn = document.getElementById("button");
    	let icon = document.getElementById("pwd");
    	let password = document.getElementById("password");
    	btn.addEventListener("click", (event)=>{
    		event.preventDefault();
    		if(password.type === "text"){
    			password.type = "password";
    			icon.className = "fa fa-eye";
    		}
    		else{
    			password.type = "text";
    			icon.className = "fa fa-eye-slash";
    		}
    	});
    	
    	// Preview images before uploading
        document.getElementById('profileImage').addEventListener('change', function(event) {
            var imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = '';
            var file = event.target.files[0];
            if (file) {
            	var reader = new FileReader();
                reader.onload = function(e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    imagePreview.appendChild(img);
                }
                reader.readAsDataURL(file);
            }
        });
    	
    	
    </script>
    
</body>
</html>
