<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="'Welcome, ' + ${user.firstName}"></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
	
	
	.friend-suggestion-img {
	  width: 70px; /* Set the desired width */
	  height: 70px; /* Set the desired height */
	  object-fit: cover; /* Ensure the image maintains its aspect ratio and covers the entire area */
	  border-radius: 50%; /* Make the images circular */
	}

</style>
</head>
<body class="w3-theme-l5">
	<div id="loadingSpinner">
	    <div class="spinner"></div>
	</div>
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" th:href="@{/user/home}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
  <a href="#" th:href="@{/post/create}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Add Post"><i class="fa fa-plus"></i></a>
  <a href="#" th:href="@{/friend/view/{username}(username=${user.username})}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="View Friends"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <a th:href="@{/user/profile}" href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img th:src="@{${user.profileImage.imageUrl}}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
  </a>
  <a href="#" th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"><i class="fa fa-sign-out"></i> Logout</a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" th:href="@{/user/home}" class="w3-bar-item w3-button w3-padding-large">Home</a>
  <a href="#" th:href="@{/post/create}" class="w3-bar-item w3-button w3-padding-large">Add Post</a>
  <a href="#" th:href="@{/user/profile}" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  <a href="#" th:href="@{/logout}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center"><span th:text="${user.firstName}"> </span>  <span th:text="${user.lastName}"></span></h4>
         <p class="w3-center"><img th:src="@{${user.profileImage.imageUrl}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> <span th:text="${user.profileDetails}">  </span>
         <form action="/" th:action="@{/user/update}" method="post">
         	<input type="hidden" name="username" th:value="${user.username}">
         	<input type="submit" class="w3-button w3-theme w3-round w3-padding w3-margin-bottom w3-margin-left" value="Update Profile">
         </form>
        </div>
      </div>
      <br>
      
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    	<div class="w3-container">
    		<div th:if="${posts == null or posts.isEmpty()}">
	        	<p>Seems like you don't have friends or your friends do not have any posts yet. Make friends to view their posts...</p>
	    	</div>
	    	<div th:if="${posts != null and !posts.isEmpty()}">
	    		<div th:each="post : ${posts}">
			      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			        <img th:src="@{${post.user.profileImage.imageUrl}}" alt="Profile" class="w3-left w3-circle w3-margin-right" style="width:50px;height:45px;">
			        <span class="w3-right w3-opacity" th:text="${#dates.format(post.postDate, 'MMM dd, yyyy HH:mm')}"></span>
			        <h4 th:text="${post.user.firstName} + ' ' + ${post.user.lastName}"></h4><br>
			        <hr class="w3-clear">
			        <p th:text="${post.caption}"></p>
			         <div class="w3-row-padding" style="margin:0 -16px" th:if="${post.images != null}">
					      <div class="w3-half" th:each="image : ${post.images}">
					        <img th:src="${image.imageUrl}" style="width:100%;height:250px" alt="Image" class="w3-margin-bottom">
					      </div>
					 </div>
			        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
			        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
			        </div>
			      </div>
			 </div>
	      </div>
	 </div>
    <!-- End Middle Column -->
    
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p><strong>Friend Suggestions</strong></p>
          <div th:each="us : ${allUser}">
	          <p th:text="${us.firstName} + ' ' + ${us.lastName}"><strong></strong></p>
	          <img th:src="@{${us.profileImage.imageUrl}}" alt="User" class="friend-suggestion-img">
	          <p th:text="${us.username}"></p>
	          <a th:href="@{/friend/create/{username}(username=${us.username})}"><button class="w3-button w3-block w3-theme-d1">Send Request</button></a>
	          <hr>
	      </div>
	      <a th:href="@{/friend/all}"><button class="w3-button w3-block w3-theme-d1">View All</button></a>
	      <hr>
        </div>
      </div>
      <br>
      
    <div class="w3-card w3-round w3-white w3-center">
	    <div class="w3-container">
	        <p>Friend Requests</p>
	        <div th:if="${pending == null or pending.isEmpty()}">
	            <p>No pending requests</p>
	        </div>
	        <div th:if="${pending != null and !pending.isEmpty()}">
	            <div th:each="u : ${pending}">
		                <img th:src="@{${u.user1.profileImage.imageUrl}}" alt="Profile" class="friend-suggestion-img"><br>
		                <span th:text="${u.user1.firstName + ' ' + u.user1.lastName}"></span><br>
		                <span th:text="'(' + ${u.user1.username + ')'}"></span>
		                <div class="w3-row w3-opacity">
		                    <div class="w3-half">
		                        <a th:href="@{/friend/accept/{id}(id=${u.id})}"><button class="w3-button w3-block w3-green w3-section" title="Accept">
		                            <i class="fa fa-check"></i>
		                        </button></a>
		                    </div>
		                    <div class="w3-half">
		                        <a th:href="@{/friend/decline/{id}(id=${u.id})}"><button class="w3-button w3-block w3-red w3-section" title="Decline">
		                            <i class="fa fa-remove"></i>
		                        </button></a>
		                    </div>
	               		</div>
	               <br>
	            </div>
	        </div>
	    </div>
	</div>
	<br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 <script type="text/javascript" th:src="@{/js/script.js}"></script>
<script>

// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html> 
