<head th:replace="header2.html"></head>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row center-form">
            <!-- Form Container -->
            <div class="form-container w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">Add Post</h4>
                    <p class="w3-center"><img th:src="@{${user.profileImage.imageUrl}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <form action="/" th:action="@{/post/create}" method="post" enctype="multipart/form-data">
                        <div class="w3-container">
                            <label for="images">Select Images</label>
                            <input type="file" name="images" id="images" class="w3-input w3-border w3-margin-bottom" multiple>
                        </div>
                        <div class="w3-container image-preview" id="imagePreview"></div>
                        <div class="w3-container">
                            <label for="firstName">Username</label>
                            <input type="text" name="username" th:value="${user.username}" class="w3-input w3-border w3-margin-bottom" readonly>
                        </div>
                        <div class="w3-container">
                            <label for="firstName">By</label>
                            <input type="text" name="firstName" th:value="${user.firstName}" class="w3-input w3-border w3-margin-bottom" readonly>
                        </div>
                        <div class="w3-container">
                            <label for="caption">Caption</label>
                            <textarea name="caption" class="w3-input w3-border w3-margin-bottom" rows="4" placeholder="Enter Caption Here..."></textarea>
                        </div>
                        <div class="w3-container">
                            <input type="submit" class="w3-button w3-theme w3-round w3-padding w3-margin-bottom w3-margin-left" value="Post">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Form Container -->
    </div>
    <br>

<!-- Footer -->
<footer class="w3-bottom w3-container w3-theme-d5">
	<div class="w3-container w3-center">
		<p class="w3-wide">Developed by <a href="http://www.infoaboutme.epizy.com/" target="_blank">Sumit Gohil</a></p>
	</div>
</footer>
 <script type="text/javascript" th:src="@{/js/script.js}"></script>
<script>

// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

//Preview images before uploading
document.getElementById('images').addEventListener('change', function(event) {
    var imagePreview = document.getElementById('imagePreview');
    imagePreview.innerHTML = '';
    var files = event.target.files;
    if (files) {
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();
            reader.onload = function(e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                imagePreview.appendChild(img);
            }
            reader.readAsDataURL(file);
        }
    }
});
</script>

</body>
</html> 
