<head th:replace="header2.html"></head>

<!-- Page Container -->
<div class="w3-container w3-content"
	style="max-width: 1400px; margin-top: 80px">
	<!-- The Grid -->
	<div class="w3-row">
		<!-- Left Column -->
		<div class="w3-col m3">
			<!-- Profile -->
			<div class="w3-card w3-round w3-white">
				<div class="w3-container">
					<h4 class="w3-center">
						<span th:text="${user.firstName}"> </span> <span
							th:text="${user.lastName}"></span>
					</h4>
					<p class="w3-center">
						<img th:src="${user.profileImage.imageUrl}" class="w3-circle"
							style="height: 106px; width: 106px" alt="Avatar">
					</p>
					<hr>
					<p>
						<i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> <span
							th:text="${user.profileDetails}"> </span>
					</p>
					<form action="/" th:action="@{/user/update}" method="post">
						<input type="hidden" name="username" th:value="${user.username}">
						<input type="submit"
							class="w3-button w3-theme w3-round w3-padding w3-margin-bottom w3-margin-left"
							value="Update Profile">
					</form>
				</div>
			</div>
			<br>

			<!-- Friend Requests -->
			<div class="w3-card w3-round w3-white w3-center">
				<div class="w3-container">
					<p>Friend Requests</p>
					<div th:if="${pending == null or pending.isEmpty()}">
						<p>No pending requests</p>
					</div>
					<div th:if="${pending != null and !pending.isEmpty()}">
						<div th:each="u : ${pending}">
							<img th:src="@{${u.user1.profileImage.imageUrl}}" alt="Profile"
								class="friend-suggestion-img"><br> <span
								th:text="${u.user1.firstName + ' ' + u.user1.lastName}"></span><br>
							<span th:text="'(' + ${u.user1.username + ')'}"></span>
							<div class="w3-row w3-opacity">
								<div class="w3-half">
									<a th:href="@{/friend/accept/{id}(id=${u.id})}"><button
											class="w3-button w3-block w3-green w3-section" title="Accept">
											<i class="fa fa-check"></i>
										</button></a>
								</div>
								<div class="w3-half">
									<a th:href="@{/friend/decline/{id}(id=${u.id})}"><button
											class="w3-button w3-block w3-red w3-section" title="Decline">
											<i class="fa fa-remove"></i>
										</button></a>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- End Left Column -->
		</div>

		<!-- Middle Column -->
		<div class="w3-col m7">
			<!-- User Posts -->
			<div th:each="post, status : ${user.posts}">
				<div class="w3-container w3-card w3-white w3-round w3-margin">
					<br> <img th:src="${user.profileImage.imageUrl}" alt="Avatar"
						class="w3-left w3-circle w3-margin-right"
						style="width: 50px; height: 45px;">
					<div class="w3-right">
						<span class="w3-opacity"
							th:text="${#dates.format(post.postDate, 'MMM dd, yyyy HH:mm')}"></span>
						<a href="#" th:href="@{/post/delete/{id}(id=${post.id})}" id="delete"
							title="Delete Post" class="w3-margin-left"
							onclick="if (!(confirm('Are you sure you want to delete this post ?'))) return false"><i
							class="fa fa-trash-o"></i></a>
					</div>
					<h4 th:text="${user.firstName} + ' ' + ${user.lastName}"></h4>
					<br>

					<p th:text="${post.caption}"></p>
					<div class="w3-row-padding" style="margin: 0 -16px"
						th:if="${post.images != null}">
						<div class="w3-half" th:each="image : ${post.images}">
							<img th:src="${image.imageUrl}"
								style="width: 100%; height: 250px" alt="Image"
								class="w3-margin-bottom">
						</div>
					</div>
					<!-- Like button -->
					<button type="button" th:data-postid="${post.id}"
						class="w3-button w3-theme-d1 w3-margin-bottom like-button"
						th:classappend="${post.isLikedByUser(user)} ? 'liked' : ''">
						<div th:if="${post.isLikedByUser(user)}">
							<i class="fa fa-thumbs-up"></i>  Liked <span class="like-count"
								th:text="'(' + ${post.likes.size() + ')'}"></span>
						</div>
						<div th:unless="${post.isLikedByUser(user)}">
							<i class="fa fa-thumbs-up"></i>  Like <span class="like-count"
								th:text="'(' + ${post.likes.size() + ')'}"></span>
						</div>
					</button>

					<!-- Comment button -->
					<button type="button"
						class="w3-button w3-theme-d2 w3-margin-bottom"
						th:onclick="'document.getElementById(\'comment' + ${status.index} + '\').style.display=\'block\''">
						<i class="fa fa-comment"></i>  Comment <span class="comment-count"
							th:text="'(' + ${post.comments.size() + ')'}"></span>
					</button>
					<!-- Modal for comment panel -->
					<div th:id="|comment${status.index}|" class="w3-modal">
						<div
							class="w3-modal-content w3-animate-bottom w3-card-4 modal-flex-container">
							<header class="modal-header w3-container w3-teal">
								<span
									th:onclick="'document.getElementById(\'comment' + ${status.index} + '\').style.display=\'none\''"
									class="w3-button w3-display-topright">&times;</span>
								<h2>Comments</h2>
							</header>
							<div class="w3-container comments-container modal-content">
								<div th:if="${post.comments == null or post.comments.isEmpty()}">
									<p class="w3-center w3-opacity">No Comments Yet. Be first
										to comment</p>
								</div>
								<div
									th:unless="${post.comments == null or post.comments.isEmpty()}">
									<div th:each="comment : ${post.comments}">
										<div th:if="${comment.user.username == user.username}">
											<div class="w3-container">
												<p>
													<strong th:text="${comment.user.username + ' (You)'}"></strong>
												</p>
												<p th:text="${comment.comment}"></p>
											</div>
										</div>
										<div th:unless="${comment.user.username == user.username}">
											<div class="w3-container">
												<p>
													<strong th:text="${comment.user.username}"></strong>
												</p>
												<p th:text="${comment.comment}"></p>
											</div>
										</div>
										<hr>
									</div>
								</div>
							</div>
							<footer class="modal-footer w3-container w3-teal">
								<form name="comment-form" class="comment-form"
									onsubmit="return checkInput()"
									th:action="@{/post/comment/{postId}(postId=${post.id})}"
									method="post">
									<div class="w3-container">
										<div class="w3-col m10">
											<input type="text"
												class="w3-input w3-border w3-margin-top w3-margin-bottom"
												id="commentIP" name="comment"
												placeholder="Write Comment Here...">
										</div>
										<div class="w3-col m2">
											<input type="submit" id="commentBtn"
												class="w3-button w3-theme w3-round w3-margin-top w3-margin-left w3-margin-bottom"
												value="Comment">
										</div>
									</div>
								</form>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Middle Column -->


		<!-- Right Column -->
		<div class="w3-col m2">
			<!-- End Right Column -->
		</div>

		<!-- End Grid -->
	</div>

	<!-- End Page Container -->
</div>
<br>

<head th:replace="footer2.html"></head>