<head th:replace="header2.html"></head>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row center-form">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="form-container w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h4>
                    <p class="w3-center"><img th:src="@{${user.profileImage.imageUrl}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <form action="/" th:action="@{/user/save}" method="post" enctype="multipart/form-data">
                        <div class="w3-container">
                            <label for="profileImage">Profile Image</label>
                            <input type="file" id="profileImage" name="profileImage" class="w3-input w3-border w3-margin-bottom">
                        </div>
                        <div class="w3-container image-preview" id="imagePreview"></div>
                        <div class="w3-container">
                            <label for="firstName">Username</label>
                            <input type="text" name="username" th:value="${user.username}" class="w3-input w3-border w3-margin-bottom" readonly>
                        </div>
                        <div class="w3-container">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" th:value="${user.firstName}" class="w3-input w3-border w3-margin-bottom">
                        </div>
                        <div class="w3-container">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" th:value="${user.lastName}" class="w3-input w3-border w3-margin-bottom">
                        </div>
                        <div class="w3-container">
                            <label for="profileDetails">Profile Details</label>
                            <textarea name="profileDetails" class="w3-input w3-border w3-margin-bottom" rows="4" th:text="${user.profileDetails}"></textarea>
                        </div>
                        <div class="w3-container">
                            <input type="submit" class="w3-button w3-theme w3-round w3-padding w3-margin-bottom w3-margin-left" value="Update Profile">
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        
        <!-- End Left Column -->
    </div>
    
<!-- End Page Container -->
</div>
<br>

<head th:replace="footer2.html"></head>